@model List<string[]>
@{
    ViewData["Title"] = "Color Sheet";
}

<div class="text-center">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Color to Give</th>
                <th scope="col">Color to Call Off</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string[] s in Model) {
                <tr>
                    <td class="font-weight-bold">@s[0]</td>
                    <td class="font-weight-bold">@s[1]</td>
                    <td class="font-weight-bold">@s[2]</td>
                </tr>
            }
        </tbody>
    </table>
</div>
